body {
    height:99em;
    background-color: lightgray;

}

.card-header, .card-footer {
    background-color: darkred;
    color: white;
    font-size: 4rem;
    font-weight: bold;
}

.card-body {
    background-color: white;
    color: grey;
}

.card-title {
    font-size: 4rem;
    font-weight: bold;
}

.DateWrapper {
}

.timeText {
    font-size: 4rem;
    font-weight: bold;
}